<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/SkillsGroup_HRM.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="title" -->
<title>home</title>
<!-- InstanceEndEditable -->
<meta name="keywords" content="SkillsGroup's HRM" />
<meta name="description" content="SkillsGroup's HRM" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../images/styles/reset1.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../images/styles/global.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="../js/jquery-1.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->

<link href="../images/styles/sIFR-screen.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<script type="text/javascript" language="javascript">

 function hoverthis(elementID,state) {
	 if(state==0) {
		 elementID.className = "hover";
	 } else if(state==1) {
		 elementID.className="even";
	 } else {
	 	 elementID.className="odd";
	 }
}

</script>
<script language="javascript">
	function windowDimensions() {
		if (document.compatMode && document.compatMode != "BackCompat") {
			x = document.documentElement.clientWidth;
		} else {
			x = document.body.clientWidth;
		}
		y = document.body.clientHeight;
	
		return [x,y];
	}
	function exploitSpace() {
		dimensions = windowDimensions();
	
		if (document.getElementById("rightMenu")) {
			document.getElementById("rightMenu").height = dimensions[1]-130;
		}
	
		if (document.getElementById("rightMenuHolder")) {
			document.getElementById("rightMenuHolder").width = dimensions[0]-200;
		}
	}
	
	exploitSpace();
	window.onresize = exploitSpace;
</script>
<script type="text/javascript">
<!--
	function doHandleAll() {
			with (document.form1) {
				if(elements['allCheck'].checked == false){
					doUnCheckAll();
				}
				else if(elements['allCheck'].checked == true){
					doCheckAll();
				}
			}
		}
	
		function doCheckAll() {
			with (document.form1) {
				for (var i=0; i < elements.length; i++) {
					if (elements[i].type == 'checkbox') {
						elements[i].checked = true;
					}
				}
			}
		}
	
		function doUnCheckAll() {
			with (document.form1) {
				for (var i=0; i < elements.length; i++) {
					if (elements[i].type == 'checkbox') {
						elements[i].checked = false;
					}
				}
			}
		}
-->					
</script>
<table id="banner" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
    <td>
    <div class="mauser">
        Welcome, <span style="font-weight:bold">Admin</span> <span style="color:#333333">[ <a href="/">Change Password</a> , <a href="login.html">Sign Out</a> ]</span>
    </div>
    </td>
</tr>
<tr>
    <td>
    	<h2 style="font-size:260%;font-weight:bold;color:#fff;padding-left:60px">HEDSPI-INTERNSHIP2011</h2>
    </td>
</tr>
<tr>
    <td>
    	<span style="color:#fff;padding-left:250px;">Developed by Group 01</span>
    </td>
</tr>
</tbody>
<!--/#banner-->

</table>
<table id="navbar" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td width="200">
            	<div id="ticker">
                    <ul>
                        <li>
                          <div id="newsticker" class="clearfix"> 
                            <ul class="newsticker" id="newslist" style="text-align:left;">
                              <li><img src="../images/assets/arrow_na.png" alt="" /></li>
                              <li style="display: none;"><img src="../images/assets/arrow_na.png" alt="" /></li>
                            </ul>
                          </div>
                          <!--/#newsticker-->
                        </li>
                        <li><a></a></li>
                    </ul>
                </div>
            <script type="text/javascript">
            <!--
                 $("#newslist").newsticker(1);
            -->
            </script>
            </td>
            <td>
                <div id="navi">
                   <!-- <ul>
                    	<li><a href="home.html">Home</a></li>
                        <li><a href="organization.html">Organization</a></li>
                        <li><a href="m_employee.html">Employee</a></li>
                        <li><a href="#">Labor-Contract</a></li>
                        <li><a href="salary_timekeeping.html">Salary</a></li>
                        <li><a href="#">Reports</a></li>
                        <li class="last"><a href="m_user.html">System</a></li>
                    </ul>-->
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!--/#navbar-->
<div id="wrap-body">
    <div id="leftside">
      <div id="navleft">
          <div class="navleft"><!-- InstanceBeginEditable name="navleft" -->Home<!-- InstanceEndEditable --></div>
                        <!-- InstanceBeginEditable name="ul" --><!-- InstanceEndEditable --></div>
                    <!--/#leftside-->
    </div>
    <!--/#left-bar-->
    
    <div id="rightside">
        <div id="pageContent"><!-- InstanceBeginEditable name="pageContent" -->
		<div style="text-align:center; vertical-align:middle; padding-top:100px;">
        	<h2>NỘI DUNG THÌ CHO VÀO ĐÂY</h2>
        </div>
		<!-- InstanceEndEditable -->
        </div>
        <!--/#pageContent-->
    </div>
    <!--/#rightside-->
</div>
<!--/#wrap-body-->
</body>
<!-- InstanceEnd --></html>
